<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-sign-in-alt"></i> Login
          </h1>
          <% include ./partials/messages %>
          <form class="form-signin" action="/users/login" method="POST">
            <div class="form-label">
              <label for="email">Email</label>
            </div>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
            <div class="form-label mt-4">
              <label for="password">Password</label>
            </div>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />

            <button type="submit" class="btn btn-primary btn-block mt-4">
              Login
            </button>

            <hr class="my-4" />
          </form>
          <p class="lead mt-4">
            No Account? <a href="/users/register">Register</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
